section#ad .thumbnail{
    margin: 0 auto;
}

.newUserButtonWeb {
    position: absolute;
    right:100px;
    top: 18%;
}

.newUserButtonMobile {
    position: absolute;
    right: 100px;
    top: 7%;
}

#body {
    background:#E3F6CE;
}

#border-div {
    background:white;
}

#description {
    text-align: left;
}

#price {
    text-align: right;
    bottom: 0px;
}

#title {
    position: static;
    margin-left: 10px;
    float: left;
}

#location-link {
    color: #0000CD;  
    float:left;
    position: static;
    margin-left: 10px;
}

#name-link {
    color: lightgrey;
    text-align: right;
    position: static;
    float: right;
}

#adtext-desc {
    float:left;
    position: static;
    margin-left: 10px;
}

#location-link-ad {
    color: #0000CD;
    text-align: center;
}

#nav {
    background:#22CD33;
    opacity: 0.7;
}

.navbar-brand-image {
    left: 0px;
    height: 50px;
    width: 80px;
    top: 10%;
}

.rightPhone {
    position: absolute;
    right: 20px;
    top: 10%;
}

.rightPhoneMyPages {
    position: absolute;
    right: 20px;
    top: 30%;
}

.rightWeb {
    position: absolute;
    right: 20px;
    top: 30%;
}

.centertext {
    text-align: center;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;

    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.addiv-image {
    display: inline;
}

.newadframeweb {
    width: 70%; margin-top: 100px;
}
.newadframemobile {
    margin-top: 10px;
}

.newadImageweb {
    visibility: hidden; width: 250px; height: 250px;
}
.newadImagemobile {
    visibility: hidden; width: 100px; height: 100px;
}

.editadImageweb {
    width: 250px; height: 250px;
}
.editadImagemobile {
    width: 100px; height: 100px;
}

.adImageweb {
    width: 150px; height: 150px;
}

.adImagewebdisplay {
    width: 450px; height: 450px;
    margin: auto;
}

.adImagemobiledisplay {
    width: 250px; height: 250px;
    margin: auto;
}

.userImagemobile {
    width: 150px; height: 150px;
    margin: auto;
}

.adImagemobile {
    margin: auto;  
    width: 130px; height: 130px;
}

.rowStyleweb {
    height: 150px;
}

.rowStylemobile {
    height: 120px;
}

.mobileTitle {
    font-size: 130%;
    color: #000;
}

.north {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); /* IE 9 */
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
}
.west {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
}
.south {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Safari and Chrome */

}
.east {
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
}

div.stars {
    margin: auto;
    padding: 10px;
    overflow: hidden;
    float: left;
    display: inline-block;
}
input.star { display: none; }
label.star {
    overflow: hidden;
    float: right;
    font-size: 30px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;

}
/*input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}
input.star-1:checked ~ label.star:before { color: #F62; }
label.star:hover { transform: rotate(-15deg) scale(1.3); }
*/
label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
.mobileThumbMyPages {
    height: 100px;
    width: 100px;
}

.webThumbMyPages {
    height: 200px;
    width: 200px;
}