section#ad .thumbnail{
    margin: 0 auto;
}

#body {
    background:gainsboro;
}

#border-div {
    background:white;
}

#description {
    text-align: left;
}

#title {
    text-align: left;
}

#location-link {
    color: #0000CD;
}

#name-link {
    color: lightgrey;
    text-align: right;
}

#location-link-ad {
    color: #0000CD;
    text-align: center;
}

#nav {
    background:whitesmoke;
}

.navbar-brand>img {
    max-height: 100%;
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.rightPhone {
    position: absolute;
    right: 20px;
    top: 10%;
}

.rightWeb {
    position: absolute;
    right: 20px;
    top: 30%;
}

.centertext {
    text-align: center;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;

    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.addiv-image {
    display: inline;
}

.newadframeweb {
    width: 70%; margin-top: 100px;
}
.newadframemobile {
    margin-top: 10px;
}

.newadImageweb {
    visibility: hidden; width: 250px; height: 250px;
}
.newadImagemobile {
    visibility: hidden; width: 100px; height: 100px;
}

.adImageweb {
    width: 150px; height: 150px;
}

.adImagewebdisplay {
    width: 450px; height: 450px;
    margin: auto;
}
.adImagemobile {
    margin: auto;  
    width: 60%; height: 100px;
}

.rowStyleweb {
    height: 150px;
}

.rowStylemobile {
    height: 120px;
}

.mobileTitle {
    font-size: 130%;
    color: #000;
}